body{
    margin:0px;
}
header{
    background-color: black;
    color: white;
    display:flex;
    font-size: 20px;
    font-weight: 200;
    padding: 2.2%;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
}
button,a{
    padding: 10px;
    border: 0;
    text-decoration: none;
    outline: 0;
    color: white;
}
header button{
    background-color: cadetblue;
    color: white;
    padding: 10px 40px;
    border-radius:50px ;
    margin: 1%;
}
h1{
    margin: 0%;
}
#about{
    margin: 0%;
    background-color: rgb(189, 189, 189);
    color: black;
    display:block;
    font-size: 20px;
    padding: 2%;
}
#about h1{
    color: black;
}
#about button{
    color: white;
    background-color:black;
}
.contact{
    background-color:black;
    color: ivory;
    padding: 3%;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}
.contact button{
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 5px;
    margin: 7px;
}
.contact input{
    width: 25%;
    margin: 1%;
    padding: 0.7%;
    border-radius: 4px;
}
.team{
    background-color: #333;
    padding: 3%;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.team .flex{
    display: flex;
    justify-content: space-around;
}
.team .flex .item{
    width: 22%;
    margin: 2%;
    padding: 2%;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}
.team .flex .item button{
    background-color: black;
    color: whitesmoke;
    border-radius: 3px;
}
.team .flex .item button:hover{
    background-color: crimson;
    transform: translate(-4px,-4px);
    animation-duration: 0.1s;
    box-shadow: rgb(201, 69, 95) 4px 4px 1px 1px;
}
.team .flex .item .image{
    padding: 20%;
    background-color: black;
    color: whitesmoke;
}
.newsletter{
    background-color: rgb(233, 231, 231);
    color: rgb(32, 30, 30);
    text-align: center;
    padding: 5%;
    font-size: 20px;
}
.newsletter input{
    width: 20%;
    margin: 1%;
    padding: 1%;
}
.newsletter button{
    background-color: black;
    color: cornsilk;
    padding: 1.5%;
    border-radius: 5px ;
    margin:1.5%;
    font-size: 16px;
}
.newsletter button:hover{
    background-color: brown;
    box-shadow: rgb(116, 69, 69) 5px 5px 1px 1px ;
    transform: translate(-4px, -4px);
}
.prices{
    background-color: rgb(26, 24, 24);
    color: rgb(212, 209, 209);
    text-align: center;
}
.prices .flex{
    display: flex;
    padding: 1%;
    justify-content: space-around;
}
.prices .flex .item{
    margin: 1%;
    width: 25%;
    padding: 1%;
    color: black;
}
.prices .flex .item p{
    margin: 0.5%;
    background-color: whitesmoke;
    padding: 2%;
}
.prices .flex .item h2{
    background-color: whitesmoke;
    margin: 0;
    margin-left:0.5% ;
    padding: 2.2%;
    margin-right: 0.5%;
}
.prices .flex .item button{
    background-color: rgb(199, 194, 194);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
}
.prices .flex .item button:hover{
    background-color: black;
    color: whitesmoke;
}
