body{
    margin:0px;
}
header{
    background-color: black;
    color: white;
    display:flex;
    font-size: 20px;
    font-weight: 200;
    padding: 2.2%;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top:0;
}
button,a{
    padding: 10px;
    border: 0;
    text-decoration: none;
    outline: 0;
    color: white;
}
header button{
    background-color: cadetblue;
    color: white;
    padding: 10px 40px;
    border-radius:50px ;
    margin: 1%;
}
header button:hover{
    background-color: brown;
    transform: translate3d(-4px, -4px,-4px);
}
h1{
    margin: 0%;
}
#about{
    margin: 0%;
    background-color: rgb(189, 189, 189);
    color: black;
    display:block;
    font-size: 20px;
    padding: 2%;
}
#about h1{
    color: black;
}
#about button{
    color: white;
    background-color:black;
}
#about button:hover{
    background-color: white;
    color: black;
}
.contact{
    background-color:black;
    color: ivory;
    padding: 3%;
    text-align: center;
    justify-content: space-around;
    font-size: 20px;
}
.contact button{
    background-color: cadetblue;
    color: whitesmoke;
    border-radius: 5px;
    margin: 7px;
}
.contact button:hover{
    background-color: brown;
    transform: translate(-4px, -4px);
}
.contact input{
    width: 25%;
    height: 15% !important;
    margin: 2px 2px 4px 2px !important;
    padding:0;
    border-radius: 4px;
    font-size: 20px;
}
.team{
    background-color: #333;
    padding: 3%;
    text-align: center;
    color: white;
    text-transform: capitalize;
}
.team .flex{
    display: flex;
    justify-content: space-around;
}
.team .flex .item{
    width: 22%;
    margin: 2%;
    padding: 2%;
    background-color: whitesmoke;
    color: black;
    border-radius: 5px;
}
.team .flex .item button{
    background-color: black;
    color: whitesmoke;
    border-radius: 3px;
}
.team .flex .item button:hover{
    background-color: brown;
    transform: translate(-4px,-4px);
    animation-duration: 0.1s;
    box-shadow: rgb(201, 69, 95) 4px 4px 1px 1px;
}
.team .flex .item .image{
    padding: 20%;
    background-color: black;
    color: whitesmoke;
}
.newsletter{
    background-color: rgb(233, 231, 231);
    color: rgb(32, 30, 30);
    text-align: center;
    padding: 5%;
    font-size: 20px;
}
.newsletter input{
    width: 20%;
    margin: 1%;
    padding: 1%;
}
.newsletter button{
    background-color: black;
    color: cornsilk;
    padding: 1.5%;
    border-radius: 5px ;
    margin:1.5%;
    font-size: 16px;
}
.newsletter button:hover{
    background-color: brown;
    box-shadow: rgb(116, 69, 69) 5px 5px 1px 1px ;
    transform: translate(-4px, -4px);
}
.prices{
    background-color: rgb(26, 24, 24);
    color: rgb(212, 209, 209);
    text-align: center;
    padding: 1%;
}
.prices .flex{
    display: flex;
    padding: 1%;
    justify-content: space-around;
}
.prices .flex .item{
    margin: 1%;
    width: 25%;
    padding: 1%;
    color: black;
}
.prices .flex .item p{
    margin: 0.5%;
    background-color: whitesmoke;
    padding: 3%;
    font-size: 20px;
}
.prices .flex .item h2{
    background-color: black;
    color: white;
    margin: 0;
    margin-left:0.5% ;
    padding: 5%;
    margin-right: 0.5%;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.prices .flex .item button{
    background-color: rgb(199, 194, 194);
    color: black;
    font-size: 20px;
    font-weight: 600;
    border-radius: 3px;
}
.prices .flex .item button:hover{
    background-color: black;
    color: whitesmoke;
}
.skills{
    letter-spacing: 5px;
    padding: 1%;
    background-color: rgb(231, 228, 228);
}
.skills .white{
    width:100%;
    background-color: white;
    margin:0.5%;
    margin-right: 0;
    margin-left: 0;
    align-items: center;
    color: black;
    border: black solid 1px;
    border-radius: 2px;
}
.skills .white .black{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1%;
    border-radius: 2px;
    margin:0;

}
.skills h2{
    margin-bottom:1px;
}
.skills h1{
    text-align: center;
}
.services{
    background-color: gray;
    text-align: center;
    padding: 2%;
}
.services h1{
    margin-bottom: 2%;
}
.services .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.services .flex .item{
    margin: 2%;
    padding: 1%;
    width:21%
} 
.services .flex .item i{
    background-color: gray;
    text-align: center;
    font-size: 60px;
}
.services .flex .item button{
    background-color: black;
    font-size: 20px;
    color:white;
    border-radius: 15px;
}
.services .flex .item button:hover{
    background-color: white;
    color: black;
    box-shadow: rgb(46, 45, 45) 3px 3px 3px 3px ;
}
.footer {
    background-color: black;
    color: white;
    margin:0;
    padding: 2%;
}
.footer .flex{
    display: flex;
    padding: 1%;
}
.footer .flex .item{
    padding: 0;
    width: 40%;
    margin: 1%;
}
.footer .flex .item .line{
    margin: 5px;
    color: white;
    display: flex;
}
.footer .flex .item .line i{
    margin-right: 1%;
}
.footer .flex .item .line div.r{
    margin-left: 1%;

}
.footer .flex .item input.line{
    width:90%;
    height: 25%;
    font-size: 20px;
    color:black;
    padding: 0%;
}
.footer .flex .item button{
    background-color: cadetblue;
    color: white;
    border-radius: 3px;
}
.footer .flex .item button:hover{
    background-color: brown;
    color: white;
    box-shadow: rgb(165, 64, 84);
    border-radius: 3px;
    transform: translate(-4px, -4px);
}
@media(max-width:900px){
    header{
        flex-flow: column;
    }
    header div{
        padding: 20px;
    }
    .contact input{
        width:  100%;
        margin-bottom:100px ;
    }
    .team .flex{
        flex-flow: column;
    }
    .team .flex .item{
        width: auto;
    }
    .prices .flex{
        flex-flow: column;
    }
    .prices .flex .item{
        width: auto;
    }
    .services .flex{
        flex-flow: column;
    }
    .services .flex .item{
        width:  auto;
    }
    .footer .flex{
        flex-flow:  column;
    }
    .footer .flex .item{
        width: auto;
    }
}
